body {
background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 120px auto;
  width: 600px;
}

header {
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
 line-height: 0.5;
 margin-bottom:20px;
}
.logo {
  width:20%;
  height:20%;
}

h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.sub-container {
  padding: 0 0 0 20px;
}

.description {
  margin-bottom: 30px;
}

.form-container {
  padding: 30px;
  background: rgba(113, 113, 113, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(154, 154, 154, 0.3);
}

.hint {
  line-height: 1.5;
  margin: 5px;
  opacity: 0.7;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 30px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

.input-area input, .restrictions select, .dish select {
    width: 100%; 
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


.select-diet,
.type-of-dish {
  padding: 16px;
  border: 1px solid rgb(65, 65, 75);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: rgb(65, 65, 75);
  width:100%;
  margin-bottom: 50px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgb(65, 65, 75);
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: rgb(65, 65, 75);
}

.instructions::after {
  border: 1px solid rgb(65, 65, 75);
}

.submit-button {
  margin-top: 20px;
  background-color: #b42256;
  border: none;
  font-size: 16px;
  color: #fefefe;
  border-radius: 50px;
  padding: 18px 24px;
  width: 200px;
  cursor: pointer;
}

.food {
  background: rgba(113, 113, 113, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(154, 154, 154, 0.3);
  color:#fff;
  padding:20px;
 font-size: 16px;
  line-height: 1.25;
  margin-top: 50px;
}

.food strong {
  color: #f0acc4;
  font-weight: 800;
  line-height: 3;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  color:#ffffff
}

a{
    color:#f0acc4;
}

.generating {
  animation: blink 1s step-start 0s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
